/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-sep-2019, 10:03:07
    Author     : alumno
*/

.boton{
    background-color:#99ffff;
  
    height: 60px;
    width:  60px;
   
}
